:root {
    --white: antiquewhite;
    --yellow: goldenrod;
    --black: rgb(48, 48, 48);
    --grey: rgb(68, 68, 68);
    --red: tomato;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--black);
}
.wrapper {
    display: flex;
    flex-direction: row;
}
/* --- SIDEBAR --- */
.sidebar {
    background-color: var(--grey);
    height: 900px;
    width: 30%;
}
h1 {
    color: var(--white);
}
.btn {
    font-size: 16px;
    font-weight: bold;
    background-color: var(--yellow);
    color: var(--black);
    display: inline-block;
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    transform: scale(0.95);
}
.header {
    background-color: var(--black);
    padding: 1.6rem;
    position: sticky;
    top: 0;
    z-index: 1;
}
.sidebar .header {
    background-color: var(--grey);
}
.header-title {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 10px 0;
}
.projects-form .form-control {
    margin: 10px 0;
    width: 100%;
}
.projects-form input {
    border: 0;
    border-radius: 5px;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    background-color: var(--white);
}
.projects-form input:focus {
    outline: none;
}
.projects-form button {
    width: 100%;
}
.projects-list {
    padding: 1.6rem;
}
.projects-list input {
    background-color: var(--grey);
}
.projects-item {
    font-size: 1rem;
    color: var(--white);
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin: 16px 0;
    cursor: pointer;
}
.projects-item:hover {
    transform: scale(1.02);
}
.projects-item.active {
    font-weight: bold;
}
.projects-item:first-child {
    margin-top: 0;
}
.projects-color {
    border: none;
    width: 25px;
    margin-left: auto;
    cursor: pointer;
}
/* --- MAIN --- */
.main {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
}
.main::-webkit-scrollbar {
    display: none;
}
.main .header {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main .tasks-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.selected-project {
    font-size: 1rem;
    color: var(--white);
}
.delete-btn {
    font-size: 14px;
    font-weight: bold;
    color: var(--red);
    padding: 5px 10px;
    margin-left: 20px;
    border: 1px solid var(--white);
    border-radius: 5px;
    cursor: pointer;
}
.task-forms {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    width: 100%;
}
.task-btn {
    margin: 20px;
}
.form-control, .submit-btn {
    width: 350px;
}
/*
.select-project {
    width: 250px;
}
*/
.submit-btn {
    margin: 5px;
}
/* --- CREATE AND EDIT FORM --- */
.create-task-form input, .edit-task-form input, .create-task-form select, .edit-task-form select {
    border: 0;
    border-radius: 5px;
    width: 100%;
    padding: 8px;
    margin: 5px;
    font-size: 16px;
    background-color: var(--white);
}
.create-task-form input:focus, .edit-task-form input:focus, .create-task-form select:focus, .edit-task-form select:focus {
    outline: none;
}
.create-task-form, .edit-task-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.create-task-form input, .edit-task-form input {
    width: 350px;
}
/*
.submit-btn {
    width: 350px;
    margin-bottom: 5px;
}
*/
.create-task-form, .edit-task-form {
    display: none;
}
/* --- CARDS --- */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /*grid-template-columns: repeat(4,1fr);*/
    grid-auto-rows: max-content;
    gap: 20px;
    padding: 1.6rem;
}
.task {
    background-color: antiquewhite;
    color: var(--black);
    border: 4px solid;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.task-tag {
    font-size: 1rem;
    padding: 0.5rem 2.5rem;
    border-radius: 5px;
    margin-bottom: 8px;
}
.task-description {
    font-size: 1rem;
    font-weight: 900;
    margin: 20px 0 10px 0;
    word-break: break-all;
}
.task-date, .task-priority {
    font-size: 14px;
    margin-bottom: 10px;
}
.task-actions {
    margin-top: auto;
}
.task-actions i {
    font-size: 1rem;
    margin-right: 1.6rem;
    opacity: 0.5;
    cursor: pointer;
}
.fa-edit:hover {
    color: green;
    transform: scale(1.2);
}
.fa-trash-alt:hover {
    color: red;
    transform: scale(1.2);
}

@media (max-width:600px) {
    .wrapper {
        flex-direction: column;
    }
    .sidebar {
        width: 100%;
    }
}